<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jasper.manager.mapper.SysMenuMapper" >
    <insert id="insert">
        insert into sys_menu (
            id,
            parent_id,
            title,
            component,
            sort_value,
            status
        ) values (
                     #{id},
                     #{parentId},
                     #{title},
                     #{component},
                     #{sortValue},
                     #{status}
                 )
    </insert>
    <update id="updateById">
        update sys_menu set
        <if test="parentId != null and parentId != ''">
            parent_id = #{parentId},
        </if>
        <if test="title != null and title != ''">
            title = #{title},
        </if>
        <if test="component != null and component != ''">
            component = #{component},
        </if>
        <if test="sortValue != null">
            sort_value = #{sortValue},
        </if>
        <if test="status != null">
            status = #{status},
        </if>
        update_time = now()
        where
        id = #{id}

    </update>
    <select id="selectAll" resultType="com.jasper.model.entity.system.SysMenu">
        select * from sys_menu where is_deleted = 0
    </select>
    <select id="selectByUserId" resultType="com.jasper.model.entity.system.SysMenu">
        select sm.*
        from sys_user_role sur, sys_role_menu srm, sys_menu sm
        where sur.role_id = srm.role_id and srm.menu_id = sm.id
          and sur.user_id = #{userId}
    </select>
</mapper>