<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jasper.manager.mapper.SysUserMapper">

    <sql id="columns">
        id,username,password,name,phone,avatar,description,status,create_time,update_time,is_deleted
    </sql>

    <select id="selectByUserName" parameterType="java.lang.String" resultType="com.jasper.model.entity.system.SysUser">
        select
        <include refid="columns"></include>
        from sys_user where username = #{userName} and is_deleted = 0
    </select>

    <select id="selectSysUserListByPage"
            resultType="com.jasper.model.entity.system.SysUser">
        select * from sys_user
        <where>
            <if test="keyword != null and keyword != ''">
                and (username like "%"#{keyword}"%" or name like "%"#{keyword}"%" or phone like "%"#{keyword}"%")
            </if>
            <if test="createTimeBegin != null and createTimeBegin != ''">
                and create_time >= #{createTimeBegin}
            </if>
            <if test="createTimeEnd != null and createTimeEnd != ''">
                and create_time &lt;= #{createTimeEnd}
            </if>
            and is_deleted = 0
        </where>
        order by id desc
    </select>
</mapper>